<% layout('./boilerplate') -%>
<div class="flex justify-center  mt-5 mb-10">
    <form action="/note" method="post" class="bg-[#18181B] p-3 rounded-2xl shadow-md">
        <label class="text-[18px]" for="title">Title</label> <br>
        <input
            value="<%=formTempData.title || '' %>"
            type="text"
            placeholder="Type here"
            name="title"
            class="mt-3 input input-bordered input-info w-full max-w-xs text-[19px] lg:text-xl leading-relaxed tracking-wide" /> <br><br>

        <label class="text-[18px]" for="note">Notes</label> <br>
        <div class="flex flex-col">
            <textarea
                class="mt-3 textarea textarea-info w-[380px] md:w-[700px] lg:w-[1200px] overflow-hidden  text-[19px] lg:text-xl leading-relaxed tracking-wide"
                placeholder="write here..."
                name="note"><%=formTempData.note || '' %></textarea>
                <button class="btn btn-sm btn-success mt-6 self-end">Save This Notes</button>
        </div>
    </form>
</div>



