<% layout('./main') -%>
<div data-mode="dark" class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="border rounded-lg shadow overflow-hidden dark:border-neutral-700 dark:shadow-gray-900">
          <table class="min-w-full divide-y divide-gray-200 dark:divide-neutral-700">
            <thead>
              <tr class="divide-x divide-gray-200 dark:divide-neutral-700">
                <th scope="col" class="px-6 py-3 text-start text-sm font-medium text-gray-500 uppercase dark:text-neutral-500">Date</th>
                <th scope="col" class="px-6 py-3 text-start text-sm font-medium text-gray-500 uppercase dark:text-neutral-500">Title</th>
                <th scope="col" class="px-6 py-3 text-center text-sm font-medium text-gray-500 uppercase dark:text-neutral-500">Action</th>
                <!-- <th scope="col" class="px-6 py-3 text-end text-sm font-medium text-gray-500 uppercase dark:text-neutral-500">Action</th> -->
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
                <% for(data of all_note) { %>
                    <% const formattedDate = data.date.toLocaleDateString('en-GB', { day: 'numeric', month: 'short'  }); %>
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-sm lg:text-lg font-medium text-gray-800 dark:text-neutral-200"><%= formattedDate%></td>
                        <td class="px-10 py-4 whitespace-nowrap text-sm lg:text-lg  text-gray-800 dark:text-neutral-200"><%=data.title %></td>
                        <!-- <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">New York No. 1 Lake Park</td> -->
                        <td class="px-6 py-4 whitespace-nowrap text-center  text-sm  font-medium">
                            <button type="button" class="transition-transform duration-200 opacity-90 active:scale-90 px-2 lg:px-4  py-1 bg-green-600 rounded-lg hover:bg-green-700">Small</button>
                        </td>
                      </tr>
                    <% } %>
              <!-- <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200">18 Jun</td>
                <td class="px-10 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">my birthday</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200">New York No. 1 Lake Park</td> 
                <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                  <button type="button" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 focus:outline-none focus:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400 dark:focus:text-blue-400">Delete</button>
                </td>
              </tr> -->
  
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  