<% layout('./boilerplate') -%>
<div class="overflow-x-auto">
    <table class="table text-center">
      <!-- head -->
      <thead>
        <tr>
          <th class="underline">Date</th>
          <th>Title</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
       <% for(data of all_note){ %>
        
        <tr>
          <% let formattedDate = data.date.toLocaleDateString('en-GB', { day: 'numeric', month: 'short'  }) %>
          <td><%=formattedDate %></td>
          <td><%=data.title %></td>
          <td><a href="/note/<%=data._id %>"><button class="btn btn-sm btn-success">click me</button></a></td>
        </tr>
        <% } %>
        
        
      </tbody>
    </table>
  </div>