<% layout('./boilerplate') -%>
<div class="flex justify-center mt-4">
    <form action="/note/<%=data._id%>?_method=PUT" method="post" class="bg-[#18181B] p-3 rounded-2xl shadow-md">
        <label class="text-[18px]" for="title">Title</label> <br>
        <input
            type="text"
            name="title"
            placeholder="Type here"
            value="<%=formTempData.title || data.title %>"
            class="mt-3 input input-bordered input-info w-full max-w-xs text-[19px] lg:text-xl leading-relaxed tracking-wide" /> <br><br>
        <!-- notes  -->
        <label class="text-[18px] " for="note">Notes</label> <br>
        <div class="flex flex-col">
            <textarea
                
                id="noteTextarea"
                name="note"
                class="bg-[#020617] mt-3 textarea textarea-info w-[340px] lg:w-[1200px] overflow-hidden resize-none text-[19px] lg:text-xl leading-relaxed tracking-wide"
                placeholder="write here"
                oninput="this.style.height = 'auto'; this.style.height = this.scrollHeight + 'px';"><%=formTempData.note || data.note %></textarea>
            <button class="btn btn-sm btn-success mt-6 self-end">Update Notes</button>
        </div>
    </form>
    
</div>

<script>
    // Function to adjust the height of the textarea
    function adjustTextareaHeight() {
        const textarea = document.getElementById('noteTextarea');
        textarea.style.height = 'auto'; // Reset the height
        textarea.style.height = textarea.scrollHeight + 'px'; // Set to scrollHeight
    }

    // Adjust the height on page load
    window.onload = adjustTextareaHeight;


</script>
