<!DOCTYPE html>
<html>
  <head>
    <title>hello</title>
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/style.css"> 
    <link rel="stylesheet" href="/output.css"> 


    
  </head>
  <body class="">
    <%- include('parts/navbar.ejs') %>
    <section class="">
      <%- body -%>
    </section>
  </body>
</html>
