<% if(success && success.length){ %>
  <div class="flex justify-center">
    <div id="alert" role="alert" class="h-7 alert alert-success w-[380px] text-center flex items-center justify-between space-x-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 stroke-current"
        fill="none"
        viewBox="0 0 24 24">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span><%= success %></span>
      <!-- Cross button -->
      <button id="closeAlert" class="text-[#292524] hover:text-black font-bold focus:outline-none px-5">
        &times;
      </button>
    </div>
  </div>
  
  <script>
    // Close alert on button click
    document.getElementById('closeAlert').addEventListener('click', function() {
      document.getElementById('alert').style.display = 'none';
    });
  
    // Auto remove alert after 1 second
    setTimeout(function() {
      document.getElementById('alert').style.display = 'none';
    }, 4000);
  </script>
  
<% } %>


<% if(warning && warning.length){ %>
  <div class="flex justify-center">
    <div id="alert" role="alert" class="h-7 alert alert-warning w-[380px] text-center flex items-center justify-between space-x-2">
      <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6 shrink-0 stroke-current"
    fill="none"
    viewBox="0 0 24 24">
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
  </svg>
      <span><%= warning %></span>
      <!-- Cross button -->
      <button id="closeAlert" class="text-[#292524] hover:text-black font-bold focus:outline-none px-5">
        &times;
      </button>
    </div>
  </div>
  
  <script>
    // Close alert on button click
    document.getElementById('closeAlert').addEventListener('click', function() {
      document.getElementById('alert').style.display = 'none';
    });
  
    // // Auto remove alert after 1 second
    // setTimeout(function() {
    //   document.getElementById('alert').style.display = 'none';
    // }, 4000);
  </script>
  
<% } %>



