<div class="h-[40px] w-full bg-black flex items-center justify-center">
    <div>
        Copyright © 2023 <a class="underline" target="_blank" href="https://x.com/amitkys">Amitkys</a>
    </div>
</div>