
  <div class="navbar bg-neutral relative">
    <!-- start  -->
    <div class="navbar-start">
      <a href="/" class="ml-2 lg:ml-16">
        <img class="h-9 w-9" src="/image/logo.svg" alt="">
       <!-- <a id="logoName" class="ml-1 text-[20px] lg:text-[28px] font-bold" href="/">Journel</a> -->
      </a>
    </div>
    
    <!-- center (absolutely centered) -->
    <div class="navbar-center absolute left-1/2 transform -translate-x-1/2">
      <a class="btn btn-info btn-xs lg:btn-sm"  href="/create">New Notes</a>
    </div>
    
    <div class="navbar-end">
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-24 rounded-full">
            <img  src="<%=loggedInUser.avatar%>"  alt="profile-pic"/>
          </div>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content bg-neutral rounded-box z-[1] mt-3 w-52 p-2 shadow-xl">
          <li class="mb-1"><a class="font-semibold"><%=loggedInUser.name %></a></li>
          <hr class="mb-1">
          <li><a class="" href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  
